---
import ImgContainer from "./ImgContainer.astro";
---

<section class="mt-24 text-white">
  <header class="flex flex-col w-full items-center">
    <div class="flex w-full gap-x-4 items-center justify-center">
      <div class="w-10 h-[2px] bg-dd-grey"></div>
      <div class="size-3 rounded-full bg-dd-primary"></div>
      <h3 class="text-dd-grey text-3xl">Gallery</h3>
      <div class="size-3 rounded-full bg-dd-primary"></div>
      <div class="w-10 h-[2px] bg-dd-grey"></div>
    </div>
    <h3 class="text-5xl mt-8 font-semibold">Our Project Portfolio</h3>
  </header>

  <main class="flex flex-col gap-4 mt-8">
    <section class="flex gap-4 w-full">
      <!-- <ImgContainer src={img1}>
        <p class="text-2xl font-semibold">Business Analysis</p>
      </ImgContainer>
      <ImgContainer src={img2}>
        <p class="text-2xl font-semibold">Digital Marketing</p>
      </ImgContainer>
      <ImgContainer src={img3}>
        <p class="text-2xl font-semibold">Creative</p>
      </ImgContainer> -->
    </section>
  </main>
</section>
