---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Business Analysis">
  <section
    class="ml-16 min-[1600px]:ml-32 flex h-screen relative overflow-hidden text-white"
  >
    <h2>Business Analysis</h2>
  </section>
</MainLayout>
