---
import FooterNav from "./FooterNav.astro";
---

<footer class="mt-10 text-white">
  <p>This is footer</p>
  <section class="border-t-[1px] border-solid border-dd-grey">
    <FooterNav />
  </section>
</footer>
