---
import "@fontsource/prompt";
import Nav from "../components/Nav.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Digital & Designs</title>
  </head>
  <body class="w-full h-full bg-dd-main-bg">
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
